<h1>All Tags</h1>

<ul>
  <% @tags.each do |tag| %>
    <li>
      <h3><%= link_to tag.name, tag_path(tag) %></h3>
      <p><%= link_to "delete", tag_path(tag), method: :delete, data: {confirm: "Really delete the #{tag.name} tag?"}%></p>
    </li>
  <% end %>
</ul>

<br><p><%= link_to "All Articles", articles_path %></p>
